/* components/About/About.css */
.about {
  padding: 20px;
  background: linear-gradient(135deg, #b3ddf1, #3faad0);
  border-radius: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #051d47;
}

.about h2 {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

.about-image img {
  border-radius: 5%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 5px;
  border-style: solid;
  border-color: #051d47;
}

.about-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.about-text {
  max-width: 900px;
  font-size: 1.2em;
  line-height: 1.8;
  color: #333;
  text-align: left;
}

.highlight {
  color: #1f2e48;
  font-weight: bold;
}

.about-footer {
  margin-top: 40px;
  font-size: 1.5em;
  color: #333;
}

.about-footer p {
  font-weight: bold;
  color: #051d47;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
